@charset "shift_jis";

/*フォント設定*/
.supportBlock li,.linktxt, 
.layout1_Block p,
.layout2_Block .patA p,.layout2_Block .pat1 p,.layout2_Block .pat2 p,.layout2_Block .pat3 p,.layout2_Block .pat4 p,.layout2_Block .pat5 p,.layout2_Block .pat6 p,.layout2_Block .pat7 p,
.layout3_Block p,
.layout4_Block p,
table.spec span,
.colorBox_Area .mainBox h4, .colorBox_Area .mainBox h5, .colorBox_Area p, .linkBox_Area p,
.lineBox_Area .lineBox p,
#foldArea p ,#car_mainAera .h2area p,
#fhlink_Area p,
.gradeTable table span,.gradeSelectTable table span, .colorTable span, .colorTableLong span,
.reqBlock p,
h4.spec,h5.spec,
.eqlist span {
line-height:1.7;
font-size:80%;
}

h4 ,h5 ,h6 {
font-size:100%;
}

h4 span, h5 span, h6 span {
line-height:1.5;
font-size:80%;
}
h4 span.h_notes, h5 span.h_notes,h6 span.h_notes {
line-height:1.5;
font-size:70%;
}

.layout1_Block h4.htxt,.layout1_Block h5.htxt,
.layout2_Block h4.htxt,.layout2_Block h5.htxt,
.layout3_Block h4.htxt,.layout3_Block h5.htxt,
.layout4_Block h4.htxt,.layout4_Block h5.htxt, 
.layout5_Block h4.htxt,.layout5_Block h5.htxt {
line-height:1.5;
font-size:80%;
}

#cartop_rArea li, #cartop_rArea dd, .EquipBase div, #allbt {
font-size:80%;
}

 .legend, .notes_mainArea p, #general .page_notesArea p,
.colorBox_Area .boxnotes p, .colorBox_Area .mainBox dt, .colorBox_Area .mainBox dd, .grade .colorBox_Area p,
.dimension p, #clpop .cltxt ,#car_mainAera .divide p, 
.lineBlock p,
.grade .colorBox_Area .mainBox li {
line-height:1.5;
font-size:70%;
}

#general .notes,#general .noteslh,table.spec span.notes_num,table.spec span.notes,#car_localfooter li, #footerpgTop,
#general p.caption, #car_mainArea .EquipBox li ,.eqlist span.notes_num{
font-size:70%;
}

/* 080717 */
.colorBox_Area .mainBox.fontNormal dt, .colorBox_Area .mainBox.fontNormal dd, .colorBox_Area .mainBox.fontNormal p, p.pr_anlink {
font-size:80%;
}

#general p.caption {
line-height:1.2;
}

#general .notes {
padding-top:5px;
line-height:1.2;
}

#general .notes2 {
font-size:60%;
line-height:1.5;
}

#general .noteslh {
padding-top:20px;
line-height:1.5;
}
.page_notesArea {
padding-top:25px;
clear:both;
}
h1,h2,h3,h4,h5,h6 {
font-weight:bold; 
}
span.notes_num {
font-weight:normal;
color:#ef0041;
}

#general .nothover {
color:#ef0041;
}
.EquipBase div, #allbt, .gradeTable table .details a {
text-decoration:underline;
cursor:pointer;
color:#ef0041;
}

.cocochifont {
color:#006600;
}

.ecocl {
color:#006600;
}


/**/

#pop.docone ul li {
font-size:80%;
line-height:1.5;
}
#pop.docone {
text-align:center;
}
#pop.docone #popHierarchical {
margin:0 auto;
text-align:left;
}