@charset "utf-8";
/* =Default
-------------------------------------------------------------- */

/* =reset.css
-------------------------------------------------------------- */
*{
	padding: 0;
	margin: 0;
	border: 0;
}
h1, h2, h3, h4, h5, h6 {
	/*clear: both;*/
	font-size: 100%;
	font-weight: normal;
}
ol, ul {
	list-style: none;
}
blockquote {
	quotes: none;
}
blockquote:before, blockquote:after {
	content: '';
	content: none;
}
del {
	text-decoration: line-through;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
address, caption, cite, code, dfn, em, strong, th, var	{
	font-style: normal;
}
img, abbr, acronym, fieldset	{
	border: 0;
}
a img{
	border: 0;
}
img { 
	vertical-align:bottom;
}
hr, legend	{
	display: none;
}


body,
div,
dl, dt, dd,
ul, ol, li,
h1, h2, h3, h4, h5, h6,
pre,
form, fieldset,
p, blockquote,
th, td
{ 
	margin: 0;
	padding: 0;
}


input, textarea
{
	margin: 0;
	font-size: 100%;
}


label { cursor: pointer;}


table
{
	border-collapse: collapse;
	border-spacing: 0;
	font-size: 100%;
}


fieldset, img
{ 
	border: 0;
}


address, caption, cite, code, dfn, em, th, var
{
	font-style: normal;
	font-weight: normal;
}

caption,
th {
	text-align: left;
}





/* =Fonts family,size
-------------------------------------------------------------- */
body,
input,
textarea{
	font: 12px/1.4em "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro","メイリオ","Meiryo", Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	*font-size:small;
    *font:x-small;
}
* + html body {  
    font-family: "メイリオ","Meiryo";
}
table {
    font-size:inherit;
    font:100%;
}
html>/**/body {
	font-size: 12px;
}
h1, h2, h3, h4, h5, h6 {
	/*font-size: 100%;*/
}

.demo1 {font-size:91%;}  /*renders 11px */
.demo2 {font-size:100%;} /*renders 12px */
.demo3 {font-size:108%;} /*renders 13px */ 
.demo4 {font-size:116%;} /*renders 14px */
.demo5 {font-size:133%;} /*renders 16px */
.demo6 {font-size:150%;} /*renders 18px */


/* =a style
-------------------------------------------------------------- */
a:link	{
	text-decoration: none;
	color: #000;
}

a:visited	{
	text-decoration: none;
	color: #000;
}

a:hover	{
	color: #666;
	text-decoration: underline;
}

a:active	{
	text-decoration: none;
	color: #00F;
}


/* = Main Common form
-------------------------------------------------------------- */
html { overflow-y: scroll;}


body {
	background: #E6E6E6 url(/component/images/main_background.jpg) repeat-y center top;
}

#wrapper {
	width: 100%;
	text-align: center;
}
html,
body,
#wrapper {
	height: 100%;
}
body > #wrapper {
	height: auto;
	min-height: 100%;
}
div#wrapper_main {
	background: url(/component/images/main_background.jpg) center top repeat-y;
	margin: 0px auto;
	width: 990px;
	text-align: left;
}



/* = container_main 
-------------------------------------------------------------- */
div#container_main {
	width: 970px;
	margin-right: 10px;
	margin-left: 10px;
	padding-bottom: 530px;
}

/* IE6 */
* html div#container_main { padding-bottom: 500px;}

/* IE7 */
*:first-child+html div#container_main { padding-bottom: 500px;}


div#container_main:after {
    content: "";
    clear: both;
    height: 0;
    display: block;
    visibility: hidden;
}


/* = container_main top
-------------------------------------------------------------- */
body.top div#container_main {
	padding-bottom: 0;
}


/* = footWrap top
-------------------------------------------------------------- */
body.top #footWrap {
	height: 520px;
	margin-top: 0;
	
}

body.top #wrapper {
	height: auto;
}
body.top > #wrapper {
	height: auto;
	min-height: 0;
}
#footer_container .line {
	width: 950px;
	height: 4px;
	overflow: hidden;
	font-size: 0;
	line-height: 0;
	padding-top: 5px;
}
body.top #main_wrap {
	display: none;
}



/* = footWrap 
-------------------------------------------------------------- */

#footWrap {
	position: relative;
	width: 100%;
	height: 500px;
	text-align: center;
	visibility: visible;
	margin-top: -500px;
	
}





#footer_main,
#footer_main_top {
	background: url(/component/images/main_background.jpg) center top repeat-y;
	text-align: left;
	width: 990px;
	margin: 0px auto;
	padding: 0px;
}
#footer_main_top #footer_container {
	margin-top: 0px;
}
#footer_container {
	/*overflow: hidden;*/
	width: 950px;
	margin-left: 20px;
	margin-right: 20px;
	position: relative;
	margin-top: 30px;
}
	#footer_container .pageTop {
	position:absolute;
	right: 0;
	top: -42px;
	/top: -30px;
	}

#footer_main .page_rssBox {
	*font-size: 92%;	
	/*font-size: 13px;*/
}
/* ============================================
	ftNavi
============================================ */
#ftNavi {
	width: 950px;
	height: 38px;
	position: relative;
	overflow: hidden;
	margin-top: 5px;
}
	#ftNavi li {
		position: absolute;
		top: 0;
		height: 38px;
		overflow: hidden;
	}
	#ftNavi li.ftNav01 { width: 159px;}
	#ftNavi li.ftNav02 { width: 158px;}
	#ftNavi li.ftNav03 { width: 159px;}
	#ftNavi li.ftNav04 { width: 158px;}
	#ftNavi li.ftNav05 { width: 158px;}
	#ftNavi li.ftNav06 { width: 158px;}
	
	
	#ftNavi li.ftNav01 { left: 0;}
	#ftNavi li.ftNav02 { left: 159px;}
	#ftNavi li.ftNav03 { left: 317px;}
	#ftNavi li.ftNav04 { left: 476px;}
	#ftNavi li.ftNav05 { left: 634px;}
	#ftNavi li.ftNav06 { left: 792px;}
		#ftNavi li a {
			display: block;
		}
		#ftNavi li.ftNav02 a { margin-left: -159px;}
		#ftNavi li.ftNav03 a { margin-left: -317px;}
		#ftNavi li.ftNav04 a { margin-left: -476px;}
		#ftNavi li.ftNav05 a { margin-left: -634px;}
		#ftNavi li.ftNav06 a { margin-left: -792px;}
		#ftNavi li a:hover {
			margin-top: -38px;
		}
		/*
	#ftNavi li.ftNav01 { width: 190px;}
	#ftNavi li.ftNav02 { width: 190px;}
	#ftNavi li.ftNav03 { width: 190px;}
	#ftNavi li.ftNav04 { width: 190px;}
	#ftNavi li.ftNav05 { width: 190px;}
	
	
	#ftNavi li.ftNav01 { left: 0;}
	#ftNavi li.ftNav02 { left: 190px;}
	#ftNavi li.ftNav03 { left: 380px;}
	#ftNavi li.ftNav04 { left: 570px;}
	#ftNavi li.ftNav05 { left: 760px;}
		#ftNavi li a {
			display: block;
		}
		#ftNavi li.ftNav02 a { margin-left: -190px;}
		#ftNavi li.ftNav03 a { margin-left: -380px;}
		#ftNavi li.ftNav04 a { margin-left: -570px;}
		#ftNavi li.ftNav05 a { margin-left: -760px;}
		#ftNavi li a:hover {
			margin-top: -38px;
		}*/
/* --------------------------------------------
	ftNav active
-------------------------------------------- */
#ftNavi li.fCur a,
#ftNavi li.fCur a:hover {
	margin-top: -38px;
}


/* = Main Common form - sidemenu
-------------------------------------------------------------- */
#sidemenu_main{
	float: left;
	background: url(/component/images/mainmenu_side_back.png) repeat-x;
	width: 165px;
	margin-left: 10px;
	display: inline;
}
#sidemenu_lineup{
	float: left;
	background: url(/component/images/mainmenu_side_back.png) repeat-x;
	width: 165px;
	margin-left: 8px;
	display: inline;
	z-index: 100;
	position:absolute;
}
#sidemenu_purchase{
	float: left;
	background: url(/component/images/mainmenu_side_back.png) repeat-x;
	width: 165px;
	margin-left: 8px;
	display: inline;
	z-index: 100;
	position:absolute;
}
#sidemenu_maintenance{
	float: left;
	background: url(/component/images/mainmenu_side_back.png) repeat-x;
	width: 165px;
	margin-left: 8px;
	display: inline;
	z-index: 100;
	position:absolute;
}
#sidemenu_accessory{
	float: left;
	background: url(/component/images/mainmenu_side_back.png) repeat-x;
	width: 165px;
	margin-left: 8px;
	display: inline;
	z-index: 100;
	position:absolute;
}
#sidemenu_special{
	float: left;
	background: url(/component/images/mainmenu_side_back.png) repeat-x;
	width: 165px;
	margin-left: 8px;
	display: inline;
	z-index: 100;
	position:absolute;
}
#sidemenu_navi{
	float: left;
	background: url(/component/images/mainmenu_side_back.png) repeat-x;
	width: 165px;
	margin-left: 8px;
	display: inline;
	z-index: 100;
	position:absolute;
}
#sidemenu_none{
	float: left;
	background: url(/component/images/mainmenu_side_back.png) repeat-x;
	width: 165px;
	margin-left: 8px;
	display: inline;
	z-index: 100;
	position:absolute;
}




/* = Main Common form - headmenu
-------------------------------------------------------------- */
#main_headmenu{
	text-align: right;
	height: 30px;
	/*width: 770px;*/
}
#main_headmenu ul{
}
#main_headmenu li{
	font-size: 11px;
	color: #000;
	float: right;
	background: url(../images/mainmenu_head_icon.gif) no-repeat left 0px;
	line-height: 11px;
	height: 11px;
	padding: 1px 0px 1px 7px;
	margin: 9px 0px 0px 9px;
}
#main_headmenu li a{
	color: #000;
}
#main_headmenu li a:hover{
	color: #000;
}

/* = Main Common form - Contents menu
-------------------------------------------------------------- */
#main_wrap {
	float: right;
	width: 770px;
	margin-right: 10px;
	display: inline;
}
#main_contents {
	width: 770px;
	min-height: 480px;
	height: auto !important;
	height: 500px;
}
*+html #main_contents {
	min-height: 500px;/* IE7 */
}

#main_contents:after {
    content: "";
    clear: both;
    height: 0;
    display: block;
    visibility: hidden;
}


.page_title{
	width: 770px;
	padding-top: 15px;
}
.page_title h1{
	background: url(../images/page_title_line.gif) no-repeat left 22px;
	font-size: 123.1%;
	color:#333;
	text-shadow: 1px 1px 0px #fff;
	height: 24px;
}
.page_title p{
	font-size: 11px;
	color: #333;
	line-height: 1.3em;
	padding-top: 5px;
	padding-bottom: 10px;
}
.subpage_menu{
	background: url(../images/subpage_menu_back.png) no-repeat;
	height: 90px;
	width: 770px;
}
.subpage_menu ul{
	margin-right: 10px;
	margin-left: 5px;
}
.subpage_menu li{
	float: left;
	padding-left: 8px;
	margin-left: 7px;
}
.subpage_menu .crumb{
	line-height: 35px;
}
.crumb .first{
	background: url(../images/crumb_first.gif) no-repeat left center;
	font-weight: bold;
	font-size: 100%;
}
.crumb .second{
	background: url(../images/crumb_second.gif) no-repeat left center;
	font-size: 91%;
	color: #666;
}
.crumb .third{
	background: url(../images/crumb_third.gif) no-repeat left center;
	font-size: 100%;
	color: #666;
}
.subpage_menu .menus_oneline{
	clear: left;
	line-height: 54px;
}
.subpage_menu .menus_oneline li{
	background: url(../images/crumb_second.gif) no-repeat left center;
	margin-right: 5px;
	color: #000;
	font-size: 91%;
}
.subpage_menu .menus_twoline{
	clear: left;
	line-height: 27px;
}
.subpage_menu .menus_twoline li{
	background: url(../images/crumb_second.gif) no-repeat left center;
	margin-right: 5px;
	color: #000;
	font-size: 91%;
}
.subpage_submenu{
	background: url(../images/subpage_submenu_back.png) no-repeat;
	height: 45px;
	width: 770px;
	line-height: 40px;
}
.subpage_submenu ul{
	margin-right: 10px;
	margin-left: 10px;
}
.subpage_submenu li{
	float: left;
	padding-left: 10px;
	margin-left: 5px;
	background: url(../images/crumb_third.gif) no-repeat left center;
	font-size: 91%;
}



/* = news_purchase.html
-------------------------------------------------------------- */
#page_news{
	margin-top: 10px;
	margin-bottom: 10px;
	padding-top: 5px;
	padding-bottom: 10px;
	border-bottom: 1px solid #999;
	font-size: 96%;
}
#page_news h2{
	margin-bottom: 10px;
}
#page_news ul{
}
#page_news li{
	margin-top: 3px;
	margin-bottom: 3px;
	font-size: 100%;
	background: url(/component/images/icon/ico_arrow01.gif) 14px 0.6em no-repeat;
	padding-left: 34px;
	zoom: 1;/* IE6 */
}
#page_news li.new {
	background: url(/component/images/icon/ico_new01.gif) no-repeat 0 0.3em;
}
#page_news li span {
	width: 9em;
	float: left;
}
#page_news li a {
	overflow: hidden;
	display: block;
	zoom: 1;/* IE6 */
}



/* = news_release.html
-------------------------------------------------------------- */
.ft_page_rssBox {
	display: block;
	min-height: 1%;
}
.ft_page_rssBox:after {
	clear: both;
	content:".";
	display: block;
	height: 0;
	visibility: hidden;
}
* html .ft_page_rssBox {
	height: 1%;
	/*\*//*/
	height: auto;
	overflow: hidden;
	/**/
}

.page_rssBox {
	margin-top: 10px;
	float: left;
	width: 467px;
	padding-right: 8px;
}

.page_rssTit {
	margin-bottom: 5px;
	background: url(/component/images/line/bg_rss_line.jpg) left bottom no-repeat;
	padding-bottom: 6px;
}
.page_rssTit span {
	display: inline-block;
	*display: inline;
	*margin: 0;
	margin-left: 5px;
}


.page_rssBox ul{
	/*font-size: 93%;*/
	font-size: 96%;
}
.page_rssBox li{
	margin-top: 6px;
	margin-bottom: 4px;
}
.page_rssBox li {
	background: url(/component/images/icon/ico_arrow01.gif) 14px 0.6em no-repeat;
	padding-left: 28px;
	zoom: 1;/* IE6 */
}
.page_rssBox li.new {
	background: url(/component/images/icon/ico_new01.gif) no-repeat 0 0.3em;
}
.page_rssBox li span {
	width: 9.5em;
	float: left;
}
.page_rssBox li a {
	overflow: hidden;
	display: block;
	zoom: 1;/* IE6 */
}
.news_releases{
}
.news_message{
	font-size:104%;
}

/* = sitemap
-------------------------------------------------------------- */
.ft_jsBox,
.ft_sitemapBoxIn,
.ft_topicList01 {
	display: block;
	min-height: 1%;
}
.ft_jsBox:after,
.ft_sitemapBoxIn:after,
.ft_topicList01:after {
	clear: both;
	content:".";
	display: block;
	height: 0;
	visibility: hidden;
}
* html .ft_jsBox,
* html .ft_sitemapBoxIn,
* html .ft_topicList01 {
	height: 1%;
	/*\*//*/
	height: auto;
	overflow: hidden;
	/**/
}

.ft_jsBox {
	margin-top: 20px;
}


/*---------ft_infoImgBox----------*/
.ft_infoImgBox {
	float: left;
	width: 320px;
	font-size: 11px;
	_margin:0px;/* IE6 */
}
.ft_infoImgTit {
	background: url(/component/images/line/bg_information_line.jpg) left bottom no-repeat;
	padding-bottom: 5px;
	margin-bottom: 7px;
}
.circleNavi {
	margin-top: 7px;
}
.circleNavi li a {
	background: url(/component/images/icon/ft_icon_topics_arrow.gif) left center no-repeat;
	padding-left: 7px;
}
.circleNavi span {
	margin-left: 10px;
}


/*---------ft_sitemapBox----------*/
.ft_sitemapBox {
	float: right;
	width: 615px;
	font-size: 11px;
}
.ft_sitemapTit {
	background: url(/component/images/line/bg_sitemap_line.jpg) left bottom no-repeat;
	padding-bottom: 5px;
	margin-bottom: 7px;
}

.ft_sitemapBoxIn {
	overflow: hidden;
}
.ft_sitemapBoxIn div {
	float: left;
	width: 195px;
	margin-right: 10px;
	display: inline;
}
.ft_sitemapBoxIn ul {
	margin-bottom: 8px;
}
.ft_sitemapBoxIn ul li p {
	padding-left: 12px;
	line-height: 1.3em;
}
.ft_sitemapBoxIn ul li span {
	background: url(/component/images/icon/ft_icon_plus.gif) left center no-repeat;
	padding-left: 12px;
}
.ft_sitemapItem {
	font-weight: bold;
	margin-bottom: 5px;
}
.ft_sitemapTxt {
	margin-left: 10px;
}

/*---------ft_topicBox----------*/
.ft_topicBox {
	float: left;
	width: 450px;
	margin-left:12px;
	font-size: 91%;
	line-height:1.3em;
	*line-height:1.5em;
	_font-size : 85%; /* IE6 */
	_margin-left: 3px;/* IE6 */
	_margin-top: 3px;/* IE6 */
	_width: 450px;
	overflow: hidden;
}
.ft_topicImgTit {
	background: url(/component/images/line/bg_topics_line.jpg) left bottom no-repeat;
	padding-bottom: 5px;
	margin-bottom: 7px;
}
.ft_topicList01 {}
.ft_topicList01 li {
	float:left;
	width:225px;
	margin-bottom:16px;
	padding-top: 0px;
	height: 49px;
	overflow: hidden;
	margin-top: 0px;
	padding-bottom: 0px;
}
.ft_topicList01 li a {
	display:block;
}
.ft_topicList01 li a img {
	float:left;
	margin-right:3px;
}

/*---------ft_accessBox----------*/
.ft_accessList01 div {
	display: block;
	min-height: 1%;
}
.ft_accessList01 div:after {
	clear: both;
	content:".";
	display: block;
	height: 0;
	visibility: hidden;
}
* html .ft_accessList01 div {
	height: 1%;
	/*\*//*/
	height: auto;
	overflow: hidden;
	/**/
}



.ft_accessBox {
	float: right;
	width: 165px;
}
.ft_accessImgTit {
	background: url(/component/images/line/bg_access_line.jpg) left bottom no-repeat;
	padding-bottom: 5px;
	margin-bottom: 7px;
}

.ft_accessList01 div {
	border: 1px solid #a8a8a8;
	margin-bottom: 2px;
}
.ft_accessList01 div p {
	line-height: 1;
	float: left;
}

.ft_accessList01 div p a img{
	opacity:1.0;
	filter: alpha(opacity=100);
	-ms-filter: "alpha( opacity=100 )";
}
.ft_accessList01 div p a:hover img{
	opacity:0.4;
	filter: alpha(opacity=40);
	-ms-filter: "alpha( opacity=40 )";	
}


.ft_accessCaption {
	font-size:10px;
}


/*---------ft_announceBox----------*/

.ft_announceBox {
	margin-top: 10px;
	margin-bottom: 5px;
}

.ft_announceImgTit {
	background: url(/component/images/line/bg_announce_line.jpg) left bottom no-repeat;
	padding-bottom: 5px;
	margin-bottom: 7px;
}

.ft_announceBox ul {
	padding-left: 10px;
}

.ft_announceBox li {
	background: url(/component/images/icon/ico_arrow01.gif) 14px 0.8em no-repeat;
	padding-left: 30px;
	padding-top: 5px;
}


/*---------ft_noticeBox----------*/

.ft_noticeBox {
	margin-top: 20px;
}

.ft_noticeImgTit {
	background: url(/component/images/line/bg_notice_line.jpg) left bottom no-repeat;
	padding-bottom: 5px;
	margin-bottom: 7px;
}

.ft_noticeBox ul {
	padding-left: 10px;
}

.ft_noticeBox li {
	background: url(/component/images/icon/ico_arrow01.gif) 14px 0.6em no-repeat;
	padding-left: 40px;
	zoom: 1;/* IE6 */
}
.ft_noticeBox li.new {
	background: url(/component/images/icon/ico_new01.gif) no-repeat 0 0.3em;
}


/*---------ft_copyright----------*/
.ft_copyright {
	display: block;
	min-height: 1%;
}
.ft_copyright:after {
	clear: both;
	content:".";
	display: block;
	height: 0;
	visibility: hidden;
}
* html .ft_copyright {
	height: 1%;
	/*\*//*/
	height: auto;
	overflow: hidden;
	/**/
}

.ft_copyright {
	background: url(/component/images/ft_bg_copyright.jpg) no-repeat left center;
	margin-top: 30px;
	height: 48px;
}
.ft_copyright ul {
	margin: 18px 0 0 16px;
	float: left;
}
.ft_copyright li {
	font-size: 11px;
	display: inline;
}
.ft_copyright ul li a {
	background: url(/component/images/icon/ft_icon_copyright_arrow.gif) no-repeat left center;
	padding-left: 6px;
	margin-right: 8px;
}

.ft_copyright p {
	font-size: 10px;
	float: right;
	margin: 18px 10px 0 0;
}




/* = Second menu list
-------------------------------------------------------------- */
.page_sublistmenu {
	width: 770px;
	zoom: 100%;
	margin-top: 10px;
}
.page_sublistmenu:after {
    content: "";
    clear: both;
    height: 0;
    display: block;
    visibility: hidden;
}
.page_sublistmenu ul{
	width: 780px;
	margin-right: -10px;
	overflow: hidden;
}
.page_sublistmenu li{
	background: url(../images/second_list_back.png) no-repeat;
	height: 230px;
	width: 380px;
	float: left;
	margin: 0px 10px 10px 0px;
	overflow: hidden;
	display: block;
	padding: 0px;
	line-height:100%;
}
.page_sublistmenu a img{
	opacity:1.0;
	filter: alpha(opacity=100);
	-ms-filter: "alpha( opacity=100 )";
	margin: 5px;
	padding: 0px;
}
.page_sublistmenu a:hover img{
	opacity:0.4;
	filter: alpha(opacity=40);
	-ms-filter: "alpha( opacity=40 )";	
}
.page_sublistmenu h2{
	font-size: 100%;
	font-weight: bold;
	padding: 0px;
	margin: 3px 6px 6px;
}
.page_sublistmenu p {
	padding: 0px;
	margin: 4px 6px;
}
.page_sublistmenu p a{
	font-size: 91%;
	line-height: 1.3em;
	line-height: 1.2em;
}





.page_sublistmenu_option {
	width: 770px;
	zoom: 100%;
	border-bottom: 1px solid #CCC;
	padding-bottom: 10px;
}
.page_sublistmenu_option:after {
    content: "";
    clear: both;
    height: 0;
    display: block;
    visibility: hidden;
}
.page_sublistmenu_option ul{
	width: 780px;
	margin-right: -10px;
	overflow: hidden;
}
.page_sublistmenu_option li{
	background: url(../images/second_list_op_back.png) no-repeat;
	height: 245px;
	width: 256px;
	float: left;
	margin: 0px 1px 0px 0px;
	overflow: hidden;
	display: block;
	padding: 0px;
	line-height:100%;
}
.page_sublistmenu_option a img{
	opacity:1.0;
	filter: alpha(opacity=100);
	-ms-filter: "alpha( opacity=100 )";
	margin: 4px;
	padding: 0px;
}
.page_sublistmenu_option a:hover img{
	opacity:0.4;
	filter: alpha(opacity=40);
	-ms-filter: "alpha( opacity=40 )";	
}
.page_sublistmenu_option h2{
	font-size: 100%;
	font-weight: bold;
	padding: 0px;
	margin: 4px;
}
.page_sublistmenu_option p {
	padding: 0px;
	margin: 4px;
}
.page_sublistmenu_option p a{
	font-size: 91%;

}

.section_border01 {
	border-top: 1px solid #999999;
	padding-top: 10px;
	overflow: hidden;
}
#section_border01 {
	border-top: 1px solid #999999;
	padding-top: 10px;
	overflow: hidden;
}

/* = top page flash
-------------------------------------------------------------- */
#flashContents {
	margin:0 10px;
}
#flashhead {
	margin:0 10px;
}

/* ============================================
	Print
============================================ */
@media print {
	/* ie6 */
	html,
	body {
		*zoom: 0.65;
	}
	html,
	body,
	#wrapper {
		height: auto;
	}
	body > #wrapper {
		height: auto;
		min-height: auto !important;
	}
	#footWrap {
		/*margin-top: 0;*/
		/*display: none;*/
	}
	.page_rssBox, {
		width: 465px !important;
	}
}



/* = Sidemenu
-------------------------------------------------------------- */

.sidemenu_box{
	width: 165px;
	height:540px;
	zoom: 100%;
}
.sidemenu_box:after {
    content: "";
    clear: both;
    height: 0;
    display: block;
    visibility: hidden;
}
#flash_menus{
	position:relative; 
	z-index:5; 
	*margin-left:0px;
}
.flash_onmenu{
	display:block;
	position:absolute;
	top:-30px;
	left:8px;

	*left:8px;
	background:none;
	color:#000;
	padding:0px;
	background: url(/component/images/flash_menuback.png) no-repeat;
}
.flash_onmenu .sidemenu_box {
	height: 500px;
	
}
.flashie6{
	display: none;
	_display:block;
	position:absolute;
	left: 8px;
	top: 445px;
	
}

.sidemenu_logo{
	text-align: center;
	margin-top: 14px;
	margin-bottom: 50px;
	color: #FFF;
}
.sidemenu_mains{
	margin: 0px;
	padding-bottom: 20px;
	zoom: 100%;
}
.sidemenu_mains:after {
    content: "";
    clear: both;
    height: 0;
    display: block;
    visibility: hidden;
}
ul.sidemenu_menu{/*OK*/
	margin:0px;
	padding:0;
	display:block;
	list-style:none;
	width: 150px;
	margin: 0px 0px 20px 7px;
}
ul.sidemenu_menu a{/*OK*/
	text-decoration:none;
}
ul.sidemenu_menu > li{/*OK*/
	position:relative;
	display: block;
	width: 150px;
	margin: 0px;
	padding: 0px;
	clear: both;
	height: 30px;
	*height: 26px; /* IE7 and below */
	_height: 34px;
	_overflow: hidden;
}
ul.sidemenu_menu > li > span{/*OK*/
	float:left;
	cursor:default;
	margin: 7px 0px 0px;
	padding: 0px 0px 7px;
	border-bottom: 1px solid #FFF;
	width: 150px;
	overflow: hidden;
	_height: 34px;
	_overflow: hidden;
	_margin: 0px;
	_padding: 0px;
}
.flash_onmenu ul.sidemenu_menu > li > span{/*OK*/
	border-bottom: 1px solid #CCC;
}
ul.sidemenu_menu .side_submenu{
	position:absolute;
	top:-4px;
	display:none;/*none,block*/
	left:155px;
	background: url(/component/images/mainmenu_subside_back2.png) repeat-y;
	border-top: 1px solid #CCC;
	border-right: 1px solid #999;
	border-left: 1px solid #CCC;
	border-bottom: 1px solid #999;
	z-index: 50;
}
.sidemenu_mains #side_functions{

}
ul.sidemenu_menu ul{
	float:left;
	list-style:none;
	margin:5px;
	padding:0px;
}
ul.sidemenu_menu ul li{
	position: relative;
	margin:5px 0;
	border-bottom: 1px solid #CCC;
	font-size: 92%;
	*font-size: 86%;
	padding-bottom: 7px;
	font-weight: bold;
}
ul.sidemenu_menu ul .under{
	border-bottom: none;
	padding-bottom: 0px;
}
ul.sidemenu_menu ul li a{
	padding:8px 3px 8px 15px;
	width:180px;
	display: block;
	margin:0px;
	background: url(/component/images/mainmenu_submenu_icon.gif) no-repeat 1px center;
}
ul.sidemenu_menu ul .tops a{
	padding:3px 3px 3px 15px;
	width:180px;
	display: block;
	margin:0px;
	background: url(/component/images/mainmenu_submenu_redicon.gif) no-repeat 1px center;
}
ul.sidemenu_menu ul li a:hover{
	background: #666 url(/component/images/mainmenu_submenu_icon.gif) no-repeat 1px center;
	color: #FFF;
}
ul.sidemenu_menu ul li.side_submenu_hover a{
	background: #666 url(/component/images/mainmenu_submenu_icon.gif) no-repeat 1px center;
	color: #FFF;
}
ul.sidemenu_menu .side_submenu .lineup_submenu {
	position:absolute;
	left:200px;
	background: url(/component/images/mainmenu_subside_back2.png) repeat;
	border-top: 1px solid #CCC;
	border-right: 1px solid #999;
	border-left: 1px solid #CCC;
	border-bottom: 1px solid #999;
	width: 580px;
	margin: 0px;
	zoom: 100%;
	padding: 0px;
	z-index: 50;
}
#lineup_submenu1 {
	top:-6px;
}
#lineup_submenu2 {
	top:-6px;
}
#lineup_submenu3 {
	top:-48px;
}
#lineup_submenu4 {
	top:-6px;
	width: 440px;
}
#lineup_submenu4 ul{
	width: 440px;
}
#lineup_submenu5 {
	top:-118px;
	width: 310px;
}
#lineup_submenu6 {
	top:-127px;
}
#lineup_submenu7 {
	top:-58px;
}
#lineup_submenu8 {
	bottom: -12px;
	width: 580px;
}
#lineup_submenu8 ul {
	width: 580px;
}
ul.sidemenu_menu .side_submenu .lineup_submenu ul {
	margin: 0px;
	padding: 10px;
	width: 580px;
}
ul.sidemenu_menu .side_submenu .lineup_submenu li {
	padding: 0px;
	float: left;
	width: 140px;
	text-align: center;
	display:inline-block;
  	vertical-align:top;
	margin: 0px;
	border: none;
}
ul.sidemenu_menu .side_submenu .lineup_submenu li a{
	display: block;
	padding: 0px;
	text-decoration: none;
	width: 140px;
	background: none;
}
* html ul.sidemenu_menu .side_submenu .lineup_submenu li a {  /*  IE */
    width: 140px;
}
ul.sidemenu_menu .side_submenu .lineup_submenu li a:hover {
	display: block;
	text-decoration: none;
	color: #FFF;
	background: #666;
}
ul.sidemenu_menu .side_submenu .lineup_submenu li a:hover .name,
ul.sidemenu_menu .side_submenu .lineup_submenu li a:hover .name_spec {
	color: #FFF;
}
ul.sidemenu_menu .side_submenu .lineup_submenu li .normal {
	padding-top: 6px;
	display: block;
}
ul.sidemenu_menu .side_submenu .lineup_submenu li .name {
	margin-top: 5px;
	padding-bottom: 6px;
	font-weight: bold;
	color: #000;
	line-height: 1.2em;
	display: block;
	text-decoration: none;
	font-size: 110%;
}
ul.sidemenu_menu .side_submenu .lineup_submenu li .name_spec {
	color: #666;
	font-size: 100%;
	font-weight: normal;
}

.sidemenu_function {
	width: 152px;
	margin-left: 7px;
	clear: both;
	margin-top: 0px;
	margin-bottom: 3px;
	zoom: 100%;
	height: 24px;
}
.sidemenu_function:after {
    content: "";
    clear: both;
    height: 0;
    display: block;
    visibility: hidden;
}
.search_menu {
	width: 152px;
	margin-left: 7px;
	clear: both;
	margin-top: 5px;
	zoom: 100%;
}
.search_menu:after {
    content: "";
    clear: both;
    height: 0;
    display: block;
    visibility: hidden;
}

#font_menu{
	border: 1px solid #CCC;
	height: 21px;
	width: 110px;
	background: url(../images/mainmenu_sideback.png) repeat-x;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
	_float: none;
	float: left;
}


#font_menu li{
	margin: 0px;
	padding: 0px;
	width: 55px;
	display: block;
	float:left;
	_width: 53px;
	_overflow: hidden;
}
.font_m{ 
	font-size: 12px;
}
.font_l{
	font-size: 14px;
}
.font_mc a{
	background: url(/component/images/mainmenu_side_textM.png) no-repeat;
	display: block;
	height: 21px;
	width: 55px;
	_width: 53px;
	_overflow: hidden;
}
.font_mc a:hover{
	background: url(/component/images/mainmenu_side_textMh.png) no-repeat;
	display: block;
}
.font_lc a{
	background: url(/component/images/mainmenu_side_textL.png) no-repeat;
	display: block;
	height: 21px;
	width: 55px;
	_width: 53px;
	_overflow: hidden;
}
.font_lc a:hover{
	background: url(/component/images/mainmenu_side_textLh.png) no-repeat;
	display: block;
}
.print_menu{
	border: 1px solid #CCC;
	float: right;
	margin: 0px 0px 0px 1px;
	padding: 0px;
	height: 21px;
	width: 37px;
	overflow: hidden;
	background: #c7c7c7;
}
.print_menu a{
	background: url(../images/mainmenu_side_print.png) no-repeat 0px 0px;
	display: block;
	height: 21px;
	width: 37px;
}
.print_menu a:hover{
	background: url(../images/mainmenu_side_printh.png) no-repeat 0px 0px;
	display: block;
}
.search_button{
	width: 37px;
	border: 1px solid #CCC;
	height: 22px;
	float: right;
	_width: 35px;
	margin: 0px;
	padding: 0px;
}
.search_menu .search{
	margin: 0px;
	padding: 0px;
	width:110px;
	_width:105px;
	line-height:22px;
	border: 1px solid #AAA;
	background: #E1E1E1;
	float: left;
	height: 22px;
	text-indent: 3px;
	overflow: hidden;
	font-size: 12px;
}
.search_menu input{
display:inline;
vertical-align:middle;
}





/*slider*/
.coda-slider-wrapper { padding: 0px }
.coda-slider-no-js .coda-slider { height: 200px; overflow: auto !important; padding-right: 0px }
#coda-slider-1, #coda-slider-1 .panel {
	width: 320px;
	height:180px;
}
#coda-slider-2, #coda-slider-2 .panel {
	width: 450px;
	height:180px;
	overflow: hidden;
}	
#coda-slider-1 .coda-slider-wrapper.arrows .coda-slider, .coda-slider-wrapper.arrows #coda-slider-1 .panel  { width: 320px; }
#coda-slider-2 .coda-slider-wrapper.arrows .coda-slider, .coda-slider-wrapper.arrows #coda-slider-2 .panel  { width: 450px; }
.coda-slider-wrapper.arrows .coda-slider { margin: 0px }
.coda-nav-left a, .coda-nav-right a {
	padding: 0px;
	margin: 0px;
}
.coda-nav-right a {
	background: url(/component/images/top/side_selector_next.gif) no-repeat 0px 0px;
	margin: 10px 10px 0px 0px;
	height: 9px;
	width: 68px;
}	
.coda-nav ul li a.current { 
	background: #000 url(/component/images/top/side_selector.gif) no-repeat 0px 0px;
	display: block;
	float: left;
	padding: 0px;
	margin: 0px 1px 0px 0px;
	height: 12px;
	width: 12px;
	overflow: hidden; 
}	
.coda-slider .panel-wrapper {
	padding: 0px;
}
.coda-slider p.loading { padding: 20px; text-align: center }
.coda-nav ul {
	display: block;
	margin: 8px 0px 0px;
	overflow: hidden;
	padding: 0px;
	width: 100px;
}
.coda-nav ul li { display: inline }
.coda-nav ul li a {
	background: #000 url(/component/images/top/side_selector.gif) no-repeat 0px -12px;
	display: block;
	float: left;
	padding: 0px;
	margin: 0px 1px 0px 0px;
	height: 12px;
	width: 12px;
	overflow: hidden;
	text-indent: -9999px;  
}
.coda-slider-wrapper {
	clear: both;
	overflow: hidden
}
.coda-slider { float: left; overflow: hidden; position: relative }
.coda-slider  .panel {
	display: block;
	float: left;
	overflow: hidden;
}
.coda-slider .panel-container { position: relative }
.coda-nav-left, .coda-nav-right {
	float: left;
}
.coda-nav-left a, .coda-nav-right a {
	display: block;
	text-align: center;
	text-decoration: none;
}

.page_rssBox .page_rssTit span{
	margin-left:3px;
}
