
/* 2011年採用サイト
------------------------------------------------------------ */

body {
	margin: 0;
	padding: 0;
	color:#151515;
	width:1024px;
}

img {
	border: 0;
}

p, h1, h2, h3, h4, h5, h6, li, dt, dd {
	margin: 0;
	padding: 0;
	font-size:83%;
}

h1, h2, h3, h4, h5, h6 { 
	font-weight: normal;
}
/**** ヘッダ *******************************************/
#headerpop {
	border-bottom:1px solid #ef0041;
	width:1024px;
}

div#headerpop div.left {
	width:93px;
	float:left;
}


#headerpop,#footerpop {
	width:1024px;
}

.headerpopArea {
	width:100%;
	border-bottom:2px solid #cac9ca;
}
/**** フッタ *******************************************/

#footerpop {
	clear:both;
	width:1024px;
}

#footerpop .copyrightArea {
	width:100%;
	float:right;
	background-color:#cac9ca;
	margin:0;
	padding:0;
	text-align:right;
	border-top:1px solid #ef0041;
}

#footerpop .copyrightArea p {
	margin:0;
	padding:5px;
	padding-top:6px;
	font-size:70%;
	color:#151515;
	vertical-align:middle;
}