/* /special/entertainment/cm/index.html
-------------------------------------------------------------- */
.lineup_table {
	width: 770px;
	margin: 0px;
	zoom: 100%;
	padding: 0px;
}
.lineup_table:after {
    content: "";
    clear: both;
    height: 0;
    display: block;
    visibility: hidden;
}

.lineup_table ul {
	margin: 3px 0px 0px;
	padding: 0px;
	width: 770px;
}
.lineup_table li {
	padding: 0px;
	float: left;
	width: 186px;
	text-align: center;
	display:inline-block;
  	vertical-align:top;
	margin: 0px;
	border: 2px solid #FFF;
	*display: inline;  /* IE7 and below */
    *zoom: 1;  /* IE7 and below */
	*height:165px;
}
.lineup_table li a{
	display: block;
	padding: 0px;
	border: 2px solid #FFF;
	text-decoration: none;
}
* html .lineup_table li a {  /*  IE */
    width: 186px;
}
.lineup_table li a:hover {
	display: block;
	border: 2px solid #666;
	text-decoration: none;
}

.lineup_table li .new {
	background: url(../../../component/images/car_list/icon_new.gif) no-repeat left top;
	padding-top: 13px;
	display: block;
	
}
.lineup_table li .normal {
	padding-top: 13px;
	display: block;
	
}
.lineup_table li .name {
	margin-top: 5px;
	font-weight: bold;
	color: #000;
	line-height: 1.2em;
	display: block;
	text-decoration: none;
	font-size: 110%;
}

.lineup_table li .price {
	margin-top: 3px;
	color: #666;
	display: block;
	text-decoration: none;
	font-size: 80%;
}
.lineup_table li .price_a {
	font-weight: bold;
	color: #333;
	font-size: 125%;
	
}
.lineup_table li .price_b {
	font-weight: bold;
	color: #333;
	font-size: 125%;
}
.lineup_table li em {
	font-size: 125%;
}
.leftposition{
	clear: left;
}
.sectionLv1 a {
	text-decoration: none !important;
}

.button_heartyrun a{
	display: block;
	border: 2px solid #FFF;
	height: 184px;
	width: 585px;
}
.button_heartyrun a:hover{
	border: 2px solid #666;
}
.button_heartyrun em{
	font-size: 1px;
	display:none;
}
.bnr li {
	padding: 0px;
	width: 382px;
	display:inline-block;
  	vertical-align:top;
	margin: 0px;
	border: 1px solid #FFF;
	*display: inline;  /* IE7 and below */
    *zoom: 1;  /* IE7 and below */
	*height:100px;
}

.bnr li a{
	display: block;
	padding: 0px;
	border: 1px solid #FFF;
	text-decoration: none;
}
* html .bnr li a {  /*  IE */
    width: 186px;
}
.bnr li a:hover {
	display: block;
	border: 1px solid #666;
	text-decoration: none;
}
	
@media print { 
	#footWrap {
		*margin-top: -100px;
	}
}