<script type="text/javascript" src="/component/js/jquery.cookie.js"></script>
<script type="text/javascript">     
jQuery(function($){
    var history = $.cookie('fontSize');
    var element = $('#main_wrap');
	(!history)? element.addClass('font_m'):element.addClass(history);
    $('li','#font_menu').click(function(){
        var setFontSize = this.id;
		var $this = $(this);
    	$.cookie('fontSize', setFontSize);
        element.removeClass().addClass(setFontSize);
    });
});

/*Sidemenu_mouseover*/       
jQuery(function() {

				var $menu = $('#side_functions');
				$menu.children('li').each(function(){
					var $this = $(this);
					var $span = $this.children('span');
					var $spanimg = $this.children('span img');
					
					$this.bind('mouseenter',function(){
						$menu.find('.side_submenu').stop(true,true).hide();
						$menu.find('.lineup_submenu').stop(true,true).hide();
						$span.stop().animate({'opacity':'0.4','marginLeft':"5px"},100,function(){
							$this.find('.side_submenu').slideDown(150);
						});
					}).bind('mouseleave',function(){
						$this.find('.side_submenu').stop(true,true).hide(150);
						$span.stop().animate({'opacity':'1','marginLeft':"0px"},100);
					});
				});

				var $menu = $('#lineup_functions');
				$menu.children('li').each(function(){
					var $this = $(this);
					
					$this.bind('mouseenter',function(){
						$menu.find('.lineup_submenu').stop(true,true).hide();
						$this.addClass('side_submenu_hover');
						$this.find('.lineup_submenu').show();
					}).bind('mouseleave',function(){
						$this.removeClass('side_submenu_hover');
						$this.find('.lineup_submenu').stop(true,true).hide(150);
					});
				});
});
</script>


<div class="sidemenu_box">

<div class="sidemenu_logo">
<a href="/"><img src="/component/images/mainmenu_side_logo.gif" alt="" border="0" /></a>
</div>
<div class="sidemenu_mains">
<ul id="side_functions" class="sidemenu_menu">
<li><span><a href="/"><img src="/component/images/mainmenu_side_menu01.png" alt="三菱自動車 トップ" /></a></span></li>
<li><span><a href="/lineup/index.html"><img src="/component/images/mainmenu_side_menu02.png" alt="カーラインアップ" /></a></span>
<div class="side_submenu">
	<ul id="lineup_functions">
		<li class="tops"><a href="/lineup/">カーラインアップ トップ</a></li>
		<li><a href="/lineup/index.html#car">電気自動車（MiEV）<br />プラグインハイブリッドEV<br />（PHEV）</a>
	                    <div class="lineup_submenu" id="lineup_submenu1">
	                      <ul>
	                        <li><a href="/i-miev/index.html" title="i-MiEV">
	                        <span class="normal"><img src="/component/images/car_sidemenu/i-miev.png" width="125" height="74" alt="" /></span>
	                        <span class="name">i-MiEV<br /><br /></span>
	                        </a></li>
	                        <li><a href="/minicab-miev/index.html" title="ミニキャブ MiEV">
	                        <span class="normal"><img src="/component/images/car_sidemenu/minicab-miev.png" width="125" height="74" alt="" /></span>
	                        <span class="name">ミニキャブ・ミーブ<br /><br /></span>
	                        </a></li>
	                        <li><a href="/minicab-miev_truck/index.html" title="ミニキャブ・ミーブ トラック">
	                        <span class="normal"><img src="/component/images/car_sidemenu/minicab-miev_truck.png" width="125" height="74" alt="" /></span>
	                        <span class="name">ミニキャブ・<br />ミーブ トラック</span>
	                        </a></li>
	                        <li><a href="/outlander_phev/index.html" title="アウトランダーPHEV">
	                        <span class="normal"><img src="/component/images/car_sidemenu/outlander_phev.png" width="125" height="74" alt="" /></span>
	                        <span class="name">アウトランダーPHEV<br /><br /></span>
	                        </a></li>
	                      </ul>
	                    </div>
		</li>
		<li><a href="/lineup/index.html#suv">ＳＵＶ</a>
	                    <div class="lineup_submenu" id="lineup_submenu2">
	                      <ul>
	                        <li><a href="/rvr/index.html" title="RVR">
	                        <span class="normal"><img src="/component/images/car_sidemenu/rvr.png" width="125" height="74" alt="" /></span>
	                        <span class="name">RVR</span>
	                        </a></li>
	                        <li><a href="/rvr/grade/roadest/index.html" title="RVR ローデスト">
	                        <span class="normal"><img src="/component/images/car_sidemenu/rvr_roadest.png" width="125" height="74" alt="" /></span>
	                        <span class="name">RVR ローデスト</span>
	                        </a></li>
	                        <li><a href="/outlander_gasoline/index.html" title="アウトランダー">
	                        <span class="normal"><img src="/component/images/car_sidemenu/outlander.png" width="125" height="74" alt="" /></span>
	                        <span class="name">アウトランダー</span>
	                        </a></li>
	                        <li><a href="/pajero/index.html" title="パジェロ">
	                        <span class="normal"><img src="/component/images/car_sidemenu/pajero.png" width="125" height="74" alt="" /></span>
	                        <span class="name">パジェロ</span>
	                        </a></li>
	                      </ul>
	                    </div>
		</li>
		<li><a href="/lineup/index.html#minivan">ミニバン</a>
	                    <div class="lineup_submenu" id="lineup_submenu3">
	                      <ul>
	                        <li><a href="/delica_d3/index.html" title="デリカD:3">
	                        <span class="normal"><img src="/component/images/car_sidemenu/delica_d3.png" width="125" height="74" alt="" /></span>
	                        <span class="name">デリカD:3<br /><br /></span>
	                        </a></li>
	                        <li><a href="/delica_d5/index.html" title="デリカD:5">
	                        <span class="normal"><img src="/component/images/car_sidemenu/delica_d5.png" width="125" height="74" alt="" /></span>
	                        <span class="name">デリカD:5<br /><br /></span>
	                        </a></li>
	                        <li><a href="/delica_d5/lineup/chamonix/" title="デリカD:5 CHAMONIX">
	                        <span class="normal"><img src="/component/images/car_sidemenu/delica_d5_chamonix.png" width="125" height="74" alt="" /></span>
	                        <span class="name">デリカD:5<br />CHAMONIX</span>
	                        </a></li>
	                        <li><a href="/delica_d5/index.html" title="デリカD:5 ローデスト">
	                        <span class="normal"><img src="/component/images/car_sidemenu/delica_d5_roadest.png" width="125" height="74" alt="" /></span>
	                        <span class="name">デリカD:5<br />ローデスト</span>
	                        </a></li>
	                        <li><a href="/delica_d5/lineup/roadest_royal_touring/" title="デリカD:5 ローデスト ROYAL TOURING">
	                        <span class="normal"><img src="/component/images/car_sidemenu/delica_d5_royal_touring.png" width="125" height="74" alt="" /></span>
	                        <span class="name">デリカD:5<br />ローデスト<br />ROYAL TOURING</span>
	                        </a></li>
	                        <li><a href="/customize/delica_d5/index.html" title="デリカD:5 電動サイドステップ車">
	                        <span class="normal"><img src="/component/images/car_sidemenu/delica_d5_sidestep.png" width="125" height="74" alt="" /></span>
	                        <span class="name">デリカD:5<br />電動サイドステップ車</span>
	                        </a></li>
	                      </ul>
	                    </div>
		</li>
		<li><a href="/lineup/index.html#compact_car">コンパクトカー</a>
	                    <div class="lineup_submenu" id="lineup_submenu4">
	                      <ul>
	                        <li><a href="/delica_d2/index.html" title="デリカD:2">
	                        <span class="normal"><img src="/component/images/car_sidemenu/delica_d2.png" width="125" height="74" alt="" /></span>
	                        <span class="name">デリカD:2<br /><br /><br /></span>
	                        </a></li>
	                        <li><a href="/delica_d2/index.html" title="デリカD:2 カスタム">
	                        <span class="normal"><img src="/component/images/car_sidemenu/delica_d2_custom.png" width="125" height="74" alt="" /></span>
	                        <span class="name">デリカD:2 カスタム<br /><br /><br /></span>
	                        </a></li>
	                        <li><a href="/mirage/index.html" title="ミラージュ">
	                        <span class="normal"><img src="/component/images/car_sidemenu/mirage.png" width="125" height="74" alt="" /></span>
	                        <span class="name">ミラージュ<br /><br /><br /></span>
	                        </a></li>
	                      </ul>
	                    </div>
		</li>
		<li><a href="/lineup/index.html#sedan_wagon">セダン / ワゴン</a>
	                    <div class="lineup_submenu" id="lineup_submenu5">
	                      <ul>
	                        <li><a href="/proudia_dignity/index.html" title="ディグニティ">
	                        <span class="normal"><img src="/component/images/car_sidemenu/dignity.png" width="125" height="74" alt="" /></span>
	                        <span class="name">ディグニティ<br /><br /></span>
	                        </a></li>
	                        <li><a href="/proudia_dignity/index.html" title="プラウディア">
	                        <span class="normal"><img src="/component/images/car_sidemenu/proudia.png" width="125" height="74" alt="" /></span>
	                        <span class="name">プラウディア<br /><br /></span>
	                        </a></li>
	                      </ul>
	                    </div>
		</li>
		<li><a href="/lineup/index.html#ldcar">軽自動車</a>
	                    <div class="lineup_submenu" id="lineup_submenu6">
	                      <ul>
	                        <li><a href="/ek_custom/index.html" title="eKカスタム">
	                        <span class="normal"><img src="/component/images/car_sidemenu/ek_custom.png" width="111" height="68" alt="" /></span>
	                        <span class="name">eKカスタム</span>
	                        </a></li>
	                        <li><a href="/ek_wagon/index.html" title="eKワゴン">
	                        <span class="normal"><img src="/component/images/car_sidemenu/ek_wagon.png" width="125" height="74" alt="" /></span>
	                        <span class="name">eKワゴン</span>
	                        </a></li>
	                        <li><a href="/ek_space/index.html" title="eKスペース">
	                        <span class="normal"><img src="/component/images/car_sidemenu/ek_space.png" width="125" height="74" alt="" /></span>
	                        <span class="name">eKスペース</span>
	                        </a></li>
	                        <li><a href="/ek_space_custom/index.html" title="eKスペース カスタム">
	                        <span class="normal"><img src="/component/images/car_sidemenu/ek_space_custom.png" width="125" height="74" alt="" /></span>
	                        <span class="name">eKスペース カスタム</span>
	                        </a></li>
	                        <li><a href="/townbox/index.html" title="タウンボックス">
	                        <span class="normal"><img src="/component/images/car_sidemenu/townbox.png" width="125" height="74" alt="" /></span>
	                        <span class="name">タウンボックス</span>
	                        </a></li>
	                      </ul>
	                    </div>
		</li>
		<li><a href="/lineup/index.html#bizcar">商用車</a>
	                    <div class="lineup_submenu" id="lineup_submenu7">
	                      <ul>
	                        <li><a href="/delica_van/index.html" title="デリカバン">
	                        <span class="normal"><img src="/component/images/car_sidemenu/delica_van.png" width="125" height="74" alt="" /></span>
	                        <span class="name">デリカバン</span>
	                        </a></li>
	                        <li><a href="/lancer_cargo/index.html" title="ランサー カーゴ">
	                        <span class="normal"><img src="/component/images/car_sidemenu/lancer_cargo.png" width="125" height="74" alt="" /></span>
	                        <span class="name">ランサー カーゴ</span>
	                        </a></li>
	                        <li><a href="/minicab_truck/index.html" title="ミニキャブ トラック">
	                        <span class="normal"><img src="/component/images/car_sidemenu/minicab_truck.png" width="125" height="74" alt="" /></span>
	                        <span class="name">ミニキャブ トラック</span>
	                        </a></li>
	                        <li><a href="/minicab_van/index.html" title="ミニキャブ バン">
	                        <span class="normal"><img src="/component/images/car_sidemenu/minicab_van.png" width="125" height="74" alt="" /></span>
	                        <span class="name">ミニキャブ バン</span>
	                        </a></li>
	                      </ul>
	                    </div>
		</li>
		<li class="under"><a href="/lineup/index.html#hearty">福祉車（ハーティーラン）</a>
	                    <div class="lineup_submenu" id="lineup_submenu8">
	                      <ul>
	                        <li><a href="/heartyrun/delica_d5_movingseat/index.html" title="デリカ D:5（サイドムービングシート仕様車）">
	                        <span class="normal"><img src="/component/images/car_sidemenu/delica_d5_movingseat.png" width="125" height="74" alt="" /></span>
	                        <span class="name">デリカ D:5<br />
	                        <span class="name_spec">（サイドムービングシート仕様車）<br/><br/></span></span>
	                        </a></li>
	                        <li><a href="/heartyrun/ek_wagon_movingseat/index.html" title="eKワゴン / eKカスタム（助手席ムービングシート仕様車）">
	                        <span class="normal"><img src="/component/images/car_sidemenu/ek_wagon_movingseat.png" width="125" height="67" alt="" /></span>
	                        <span class="name">eKワゴン / eKカスタム<br />
	                        <span class="name_spec">（助手席ムービング<br />シート仕様車）<br/><br/></span></span>
	                        </a></li>
	                        <li><a href="/heartyrun/ek_wagon_kaitenseat/index.html" title="eKワゴン / eKカスタム（助手席回転シート仕様車）">
	                        <span class="normal"><img src="/component/images/car_sidemenu/ek_wagon_kaitenseat.png" width="125" height="70" alt="" /></span>
	                        <span class="name">eKワゴン / eKカスタム<br />
	                        <span class="name_spec">（助手席回転シート<br />仕様車）<br/><br/></span></span>
	                        </a></li>
	                        <li><a href="/heartyrun/ek_space_movingseat/" title="eKスペース / eKスペースカスタム（助手席ムービングシート仕様車）">
	                        <span class="normal"><img src="/component/images/car_sidemenu/ek_space_moving.png" width="125" height="74" alt="" /></span>
	                        <span class="name">eKスペース /<br/>eKスペース カスタム<br />
	                        <span class="name_spec">（助手席ムービング<br />シート仕様車）</span></span>
	                        </a></li>
	                      </ul>
	                    </div>
		</li>
	</ul>
</div>
</li>
<li><span><a href="/purchase/"><img src="/component/images/mainmenu_side_menu03.png" alt="購入検討サポート" /></a></span>
<div class="side_submenu">
						<ul>
							<li class="tops"><a href="/purchase/">購入検討サポート トップ</a></li>
                            <li><a href="/purchase/onlinequote/">オンライン見積もり</a></li>
							<li><a href="http://map.mitsubishi-motors.co.jp/">販売店/充電ポイント検索</a></li>
							<li><a href="http://democar.mitsubishi-motors.co.jp/democar/carSelect.html">展示車/試乗車検索</a></li>
                            <li><a href="https://customer.mitsubishi-motors.co.jp/olc/OlcTop.do?sourceId=OLC" target="_blank">カタログ請求</a></li>
							<li><a href="/purchase/cataloglist/">カタログ一覧</a></li>
                            <li><a href="/purchase/credit/">クレジット・リース</a></li>
                            <li><a href="/purchase/roadservice/">ロードサービス</a></li>
                            <li><a href="/purchase/campaign/">キャンペーン</a></li>
                            <li class="under"><a href="/special/imakore/index.html" target="_blank">ミツビシのエコカー</a></li>
						</ul>
</div>
</li>
<li><span><a href="/support/maintenance/"><img src="/component/images/mainmenu_side_menu04h.png" alt="メンテナンスサービス" /></a></span>
<div class="side_submenu">
						<ul>
							<li class="tops"><a href="/support/maintenance/">メンテナンスサービス トップ</a></li>
							<li><a href="/support/maintenance/trouble/">故障かなと思ったら</a></li>
                            <li><a href="/support/maintenance/faq/">Q&amp;A</a></li>
							<li><a href="/support/maintenance/syaken/">車検</a></li>
							<li><a href="/support/maintenance/mainte_cycle/">点検</a></li>
                            <li><a href="/support/maintenance/service/warranty/">保証</a></li>
                            <li><a href="/support/maintenance/pro/">安心の技術力</a></li>
                            <li><a href="/support/maintenance/demand/">ご要望にあわせて<br />（おすすめカーケアメニュー）</a></li>
                            <li><a href="/support/maintenance/recommendmenu/index.html">新車ご購入時のおすすめ<br />メンテナンスメニュー</a></li>
							<li><a href="/support/manual/">取扱説明書一覧</a></li>
                            <li><a href="/support/safety/">安全なドライブのために</a></li>
                            <li class="under"><a href="/support/accessory/navi/data/">ナビゲーション更新データ</a></li>
						</ul>
</div>
</li>
<li><span><a href="/support/accessory/"><img src="/component/images/mainmenu_side_menu05.png" alt="アクセサリー" /></a></span>
<div class="side_submenu">
						<ul>
							<li class="tops"><a href="/support/accessory/">アクセサリー トップ</a></li>
							<li><a href="/support/accessory/lineup/">カーラインアップ</a></li>
							<li><a href="/support/accessory/navi/">ナビゲーション</a></li>
							<li><a href="/support/accessory/audio/">オーディオ</a></li>
                            <li><a href="/support/accessory/etc/">ETC</a></li>
                            <li><a href="/support/accessory/bodycoating/">ボディコーティング</a></li>
                            <li><a href="/support/accessory/childseat/">チャイルドシート</a></li>
                            <li class="under"><a href="/support/accessory/safety/">安心/安全</a></li>
						</ul>
</div>
</li>
<li><span><a href="/special/"><img src="/component/images/mainmenu_side_menu06.png" alt="スペシャルコンテンツ" /></a></span>
<div class="side_submenu">
						<ul>
							<li class="tops"><a href="/special/">スペシャルコンテンツ トップ</a></li>
							<li><a href="http://aichaku.jp/" target="_blank">愛着力サイト</a></li>
							<li><a href="http://www.ev-life.com/" target="_blank">EVポータル</a></li>
							<li><a href="/special/index.html#informationtag">インフォメーション</a></li>
							<li class="under"><a href="/special/index.html#entertainment">エンターテインメント</a></li>
						</ul>
</div>
</li>
<li><span><a href="/carguide/"><img src="/component/images/mainmenu_side_menu07.png" alt="クルマ購入ナビ" /></a></span>
<div class="side_submenu">
						<ul>
							<li class="under"><a href="/carguide/">クルマ購入ナビ トップ</a></li>
						</ul>
</div>
</li>
</ul>
</div>
<div class="sidemenu_function">
<div class="print_menu"><a href="javascript:print()" title="印刷する"></a></div>
<ul id="font_menu">
<li id="font_m" class="font_mc"><a href="#" title="文字サイズ中"></a></li>
<li id="font_l" class="font_lc"><a href="#" title="文字サイズ大"></a></li>
</ul>
</div>


<div class="search_menu">
<form name="search_form" action="http://search.mitsubishi-motors.co.jp/ja_all/search.x" method="get">
<input id="MF_form_phrase" class="search" type="text" style="height:24px;" onblur="if(this.value=='') this.value='検索'"
onfocus="if(this.value=='検索') this.value=''" value="検索" autocomplete="off" name="q" size="">
<input class="search_button" type="image" onmouseout="this.src='/component/images/mainmenu_side_search.png'" onmouseover="this.src='/component/images/mainmenu_side_searchh.png'" tabindex="1" onclick="mysearch();" alt="検索" value="検索" src="/component/images/mainmenu_side_searchh.png">
<input type="hidden" value="sjis" name="ie">
<input type="hidden" value="1" name="page">
</form>
</div>

</div>
