.newstitle {
	FONT-WEIGHT: bold; FONT-SIZE: 16px; COLOR: #6e6e6e; LINE-HEIGHT: 22px; PADDING-TOP: 5px; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"
}
.newssubtitle {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #6e6e6e; LINE-HEIGHT: 16px; PADDING-TOP: 5px
}
div#mainContent .body * {
	font-size:100%;
	line-height:1.5;
}