<div><p id="imagechg"><span id="ext"></span><span id="int"></span></p></div>
<p id="closeb"><img src="/lineup/common/images/mes_bt_01.gif" alt="閉じる" width="64" height="23" id="viewerclose"></p>
<div id="poparea">
<div id="imgfield" style="display:none;">
<p id="imgnumber">0 / 0</p>
<p id="imgbtP" style="display:none;">&nbsp;</p>
<p id="imgbtN" style="display:none;">&nbsp;</p>
<p id="popupmv"></p>
<p id="bkb" style="display:none;"><img src="/lineup/common/images/gal_bt_04.gif" alt="一覧に戻る" width="88" height="23" id="viewerbk"></p>
<p id="bigimg"><img src="/lineup/common/images/blank_im.gif" alt="" width="648" height="400"></p>
<div id="resutxt" style="display:none;"></div>
</div>
<div id="layer_window"></div>
</div>
